In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
df1 = pd.read_csv("nfa_2019_public_data.csv")

C:\Users\HP ELITEBOOK\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3296: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
df1.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [68]:
df2 = pd.read_csv("gfn_country_code_concordance_table.csv")

In [69]:
df2.head()

         gfn_name  country_code iso_alpha_2_code iso_alpha_3_code
0         Armenia             1               AM              ARM
1     Afghanistan             2               AF              AFG
2         Albania             3               AL              ALB
3         Algeria             4               DZ              DZA
4  American Samoa             5               AS              ASM

In [70]:
df3 = pd.read_csv('NFA 2019 public_data.csv')
df3.head()

C:\Users\HP ELITEBOOK\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3296: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [71]:
df4 = pd.read_csv('GFN Country Code Concordance Table.csv')
df4.head()

         GFN_name  country_code ISO Alpha-2 Code ISO Alpha-3 Code
0         Armenia             1               AM              ARM
1     Afghanistan             2               AF              AFG
2         Albania             3               AL              ALB
3         Algeria             4               DZ              DZA
4  American Samoa             5               AS              ASM

In [72]:
df1['record'].unique()

array(['AreaPerCap', 'AreaTotHA', 'BiocapPerCap', 'BiocapTotGHA',
       'EFConsPerCap', 'EFConsTotGHA', 'EFProdPerCap', 'EFProdTotGHA'],
      dtype=object)

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
encoder = LabelEncoder()
encoder.fit(df1['record'])
df1['record'] = encoder.transform(df1['record'])

In [74]:
df1.drop('country', axis = 1, inplace = True)

In [75]:
y = df1['qscore']
df1.drop('qscore', axis = 1 , inplace = True)

In [76]:
df1.drop('forest_land', inplace = True, axis = 1)

In [77]:
df1.dropna(inplace = True)
scaler = MinMaxScaler()
scaler.fit(df1)
df1 = scaler.transform(df1)

In [78]:
mdl = RandomForestClassifier()
mdl.fit(df1, y)

ValueError: Input contains NaN